.root {
    --editor-bg: rgba(250, 250, 250);
    --editor-dot: rgba(200, 200, 200);
    --editor-bg-image: radial-gradient(
            circle,
            var(--editor-dot) 1.5px,
            transparent 0px
        ),
        radial-gradient(circle, var(--editor-dot) 1.5px, transparent 0px);
    --editor-bg-pos: 0 0, 15px 15px;
    --editor-bg-size: 30px 30px;
    --minimap-bg: rgba(38, 38, 38, 0.1);
    --node-bg: rgba(255, 255, 255, 1);
    --node-text: rgba(38, 38, 38, 1);
    --node-title-bg: rgb(220, 220, 220);
    --node-title-text: black;
    --node-port: rgba(38, 38, 38, 0.8);
    --connection-stroke: rgba(38, 38, 38, 0.8);
}
:root {
    --editor-bg: rgb(35, 35, 35);
    --editor-dot: rgba(0, 0, 0, 0.133333);
    --editor-bg-image: linear-gradient(
            rgba(0, 0, 0, 0.133333) 2px,
            transparent 2px
        ),
        linear-gradient(90deg, rgba(0, 0, 0, 0.133333) 2px, transparent 2px),
        linear-gradient(#131313 1px, transparent 1px),
        linear-gradient(90deg, #131313 1px, transparent 1px);
    --editor-bg-pos: left 0px top 0px;
    --editor-bg-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    --minimap-bg: rgba(225, 225, 225, 0.1);
    --node-bg: rgba(63, 63, 63, 0.8);
    --node-text: rgba(255, 255, 255, 1);
    --node-title-bg: #000;
    --node-title-text: #fff;
    --node-port: white;
    --connection-stroke: rgb(255, 255, 255);
}

.d-flex {
    display: flex !important;
}
.align-items-center {
    align-items: center !important;
}
.flex-fill {
    flex: 1 1 auto !important;
}
.m-0 {
    margin: 0 !important;
}
.mt-0,
.my-0 {
    margin-top: 0 !important;
}
.mr-0,
.mx-0 {
    margin-right: 0 !important;
}
.mb-0,
.my-0 {
    margin-bottom: 0 !important;
}
.ml-0,
.mx-0 {
    margin-left: 0 !important;
}
.m-1 {
    margin: 0.25rem !important;
}
.mt-1,
.my-1 {
    margin-top: 0.25rem !important;
}
.mr-1,
.mx-1 {
    margin-right: 0.25rem !important;
}
.mb-1,
.my-1 {
    margin-bottom: 0.25rem !important;
}
.ml-1,
.mx-1 {
    margin-left: 0.25rem !important;
}
.m-2 {
    margin: 0.5rem !important;
}
.mt-2,
.my-2 {
    margin-top: 0.5rem !important;
}
.mr-2,
.mx-2 {
    margin-right: 0.5rem !important;
}
.mb-2,
.my-2 {
    margin-bottom: 0.5rem !important;
}
.ml-2,
.mx-2 {
    margin-left: 0.5rem !important;
}
.m-3 {
    margin: 1rem !important;
}
.mt-3,
.my-3 {
    margin-top: 1rem !important;
}
.mr-3,
.mx-3 {
    margin-right: 1rem !important;
}
.mb-3,
.my-3 {
    margin-bottom: 1rem !important;
}
.ml-3,
.mx-3 {
    margin-left: 1rem !important;
}
.m-4 {
    margin: 1.5rem !important;
}
.mt-4,
.my-4 {
    margin-top: 1.5rem !important;
}
.mr-4,
.mx-4 {
    margin-right: 1.5rem !important;
}
.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important;
}
.ml-4,
.mx-4 {
    margin-left: 1.5rem !important;
}
.m-5 {
    margin: 3rem !important;
}
.mt-5,
.my-5 {
    margin-top: 3rem !important;
}
.mr-5,
.mx-5 {
    margin-right: 3rem !important;
}
.mb-5,
.my-5 {
    margin-bottom: 3rem !important;
}
.ml-5,
.mx-5 {
    margin-left: 3rem !important;
}
.p-0 {
    padding: 0 !important;
}
.pt-0,
.py-0 {
    padding-top: 0 !important;
}
.pr-0,
.px-0 {
    padding-right: 0 !important;
}
.pb-0,
.py-0 {
    padding-bottom: 0 !important;
}
.pl-0,
.px-0 {
    padding-left: 0 !important;
}
.p-1 {
    padding: 0.25rem !important;
}
.pt-1,
.py-1 {
    padding-top: 0.25rem !important;
}
.pr-1,
.px-1 {
    padding-right: 0.25rem !important;
}
.pb-1,
.py-1 {
    padding-bottom: 0.25rem !important;
}
.pl-1,
.px-1 {
    padding-left: 0.25rem !important;
}
.p-2 {
    padding: 0.5rem !important;
}
.pt-2,
.py-2 {
    padding-top: 0.5rem !important;
}
.pr-2,
.px-2 {
    padding-right: 0.5rem !important;
}
.pb-2,
.py-2 {
    padding-bottom: 0.5rem !important;
}
.pl-2,
.px-2 {
    padding-left: 0.5rem !important;
}
.p-3 {
    padding: 1rem !important;
}
.pt-3,
.py-3 {
    padding-top: 1rem !important;
}
.pr-3,
.px-3 {
    padding-right: 1rem !important;
}
.pb-3,
.py-3 {
    padding-bottom: 1rem !important;
}
.pl-3,
.px-3 {
    padding-left: 1rem !important;
}
.p-4 {
    padding: 1.5rem !important;
}
.pt-4,
.py-4 {
    padding-top: 1.5rem !important;
}
.pr-4,
.px-4 {
    padding-right: 1.5rem !important;
}
.pb-4,
.py-4 {
    padding-bottom: 1.5rem !important;
}
.pl-4,
.px-4 {
    padding-left: 1.5rem !important;
}
.p-5 {
    padding: 3rem !important;
}
.pt-5,
.py-5 {
    padding-top: 3rem !important;
}
.pr-5,
.px-5 {
    padding-right: 3rem !important;
}
.pb-5,
.py-5 {
    padding-bottom: 3rem !important;
}
.pl-5,
.px-5 {
    padding-left: 3rem !important;
}
.slide-fade-enter-active {
    transition: all 0.15s ease-out;
}
.slide-fade-leave-active {
    transition: all 0.15s ease-out;
}
.slide-fade-enter,
.slide-fade-leave-to {
    transform: translateY(5px);
    opacity: 0;
}
.dark-foreground {
    color: #fff;
    fill: #fff;
    stroke: #fff;
}
.dark-button {
    background-color: #2c2c2c;
    color: #fff;
    transition: background-color 0.1s linear;
    border: none;
    padding: 0.45em 0.35em;
    border-radius: 3px;
    font-size: inherit;
    cursor: pointer;
}
.dark-button:hover {
    background-color: #4c4c4c;
}
.dark-button:active {
    background-color: #5379b5;
}
.dark-button.--block {
    width: 100%;
}
.dark-checkbox {
    display: flex;
    padding: 0.35em 0;
    cursor: pointer;
}
.dark-checkbox .__checkmark-container {
    display: flex;
    background-color: #2c2c2c;
    border-radius: 3px;
    transition: background-color 0.1s linear;
}
.dark-checkbox:hover .__checkmark-container {
    background-color: #4c4c4c;
}
.dark-checkbox:active .__checkmark-container {
    background-color: #6c6c6c;
}
.dark-checkbox .__checkmark {
    stroke-dasharray: 15;
    stroke-dashoffset: 15;
    stroke: #fff;
    stroke-width: 2px;
    fill: none;
    transition: stroke-dashoffset 0.1s linear;
}
.dark-checkbox.--checked .__checkmark {
    stroke-dashoffset: 0;
}
.dark-checkbox.--checked .__checkmark-container {
    background-color: #5379b5;
}
.dark-context-menu {
    color: #fff;
    position: absolute;
    display: inline-block;
    z-index: 100;
    background-color: #000000cc;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.65);
    border-radius: 0 0 3px 3px;
    min-width: 100px;
}
.dark-context-menu > .item {
    padding: 0.35em 1em;
    transition: background 0.05s linear;
    position: relative;
}
.dark-context-menu > .item.--disabled {
    color: #4c4c4c;
}
.dark-context-menu
    > .item:not(.--header):not(.--active):not(.--disabled):hover {
    background: #5379b5;
}
.dark-context-menu > .item.--active {
    background: #5379b5;
}
.dark-context-menu.--nested {
    left: 100%;
    top: 0;
}
.dark-context-menu.--flipped-x.--nested {
    left: unset;
    right: 100%;
}
.dark-context-menu.--flipped-y.--nested {
    top: unset;
    bottom: 0;
}
.dark-context-menu > .divider {
    margin: 0.35em 0;
    height: 1px;
    background-color: #4c4c4c;
}
.dark-input {
    background-color: #2c2c2c;
    color: #fff;
    caret-color: #5379b5;
    border: none;
    border-radius: 3px;
    padding: 0.45em 0.75em;
    width: 100%;
    transition: background-color 0.1s linear;
    font-size: inherit;
    font: inherit;
}
.dark-input:hover {
    background-color: #4c4c4c;
}
.dark-input:active {
    background-color: #6c6c6c;
}
.dark-input[type="number"]::-webkit-inner-spin-button,
.dark-input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.dark-input.--invalid {
    box-shadow: 0 0 2px 2px red;
}
.dark-select {
    width: 100%;
    position: relative;
    color: #fff;
}
.dark-select.--open > .__selected {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.dark-select.--open > .__selected > .__icon {
    transform: rotate(180deg);
}
.dark-select > .__selected {
    background-color: #2c2c2c;
    padding: 0.35em 0.75em;
    border-radius: 3px;
    transition: background 0.1s linear;
    min-height: 1.7em;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.dark-select > .__selected:hover {
    background: #4c4c4c;
}
.dark-select > .__selected:active {
    background: #6c6c6c;
}
.dark-select > .__selected > .__text {
    flex: 1 0 auto;
    flex-basis: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.dark-select > .__selected > .__icon {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.25s ease;
    width: 18px;
    height: 18px;
}
.dark-select > .__selected > .__icon path {
    stroke: #fff;
    fill: #fff;
}
.dark-select > .__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #000000aa;
    filter: drop-shadow(0 0 4px black);
    border-radius: 0 0 3px 3px;
    max-height: 15em;
    overflow-y: scroll;
}
.dark-select > .__dropdown::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.dark-select > .__dropdown > .item {
    padding: 0.35em;
    padding-left: 1em;
    transition: background 0.05s linear;
}
.dark-select > .__dropdown > .item:not(.--header):not(.--active) {
    cursor: pointer;
}
.dark-select > .__dropdown > .item:not(.--header):not(.--active):hover {
    background: #4c4c4c;
}
.dark-select > .__dropdown > .item.--active {
    background: #5379b5;
}
.dark-select > .__dropdown > .item.--header {
    color: gray;
    border-bottom: 1px solid gray;
    padding: 0.5em 0.35em;
    padding-left: 1em;
}
.dark-slider {
    background: #2c2c2c;
    color: #fff;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
}
.dark-slider > .__content {
    display: flex;
    position: relative;
    z-index: 1;
}
.dark-slider > .__content > .__label,
.dark-slider > .__content > .__value {
    flex: 1 1 auto;
    margin: 0.35em 0;
    padding: 0 0.5em;
    text-overflow: ellipsis;
}
.dark-slider > .__content > .__value {
    text-align: right;
}
.dark-slider > .__content > input {
    background-color: #2c2c2c;
    color: #fff;
    caret-color: #5379b5;
    padding: 0.35em;
    width: 100%;
}
.dark-slider > .__slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #5379b5;
    border-radius: 3px;
}
.dark-num-input {
    background: #2c2c2c;
    color: #fff;
    border-radius: 3px;
    display: flex;
}
.dark-num-input > .__button {
    display: flex;
    flex: 0 0 auto;
    width: 20px;
    justify-content: center;
    align-items: center;
    transition: background 0.1s linear;
    cursor: pointer;
}
.dark-num-input > .__button:hover {
    background-color: #4c4c4c;
}
.dark-num-input > .__button:active {
    background-color: #6c6c6c;
}
.dark-num-input > .__button.--dec > svg {
    transform: rotateZ(90deg);
}
.dark-num-input > .__button.--inc > svg {
    transform: rotateZ(-90deg);
}
.dark-num-input > .__button path {
    stroke: #fff;
    fill: #fff;
}
.dark-num-input > .__content {
    display: flex;
    flex: 1 1 auto;
    cursor: pointer;
}
.dark-num-input > .__content:hover {
    background-color: #4c4c4c;
}
.dark-num-input > .__content:active {
    background-color: #6c6c6c;
}
.dark-num-input > .__content > .__label,
.dark-num-input > .__content > .__value {
    flex: 1 1 auto;
    margin: 0.35em 0;
    padding: 0 0.5em;
    text-overflow: ellipsis;
}
.dark-num-input > .__content > .__value {
    text-align: right;
}
.dark-num-input > .__content > input {
    background-color: #2c2c2c;
    color: #fff;
    caret-color: #5379b5;
    padding: 0.35em;
    width: 100%;
}
.node {
    max-width: 20rem;
    background: var(--node-bg);
    color: var(--node-text);
    border-radius: 4px;
    position: absolute;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.8));
    transition: box-shadow 0.1s linear, filter 0.1s linear;
}
.node:hover {
    box-shadow: 0 0 0 0.35px #5379b5;
}
.node.--selected {
    z-index: 5;
    box-shadow: 0 0 0 1px #5379b5;
}
.node.--dragging {
    filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.8));
}
.node.--dragging > .__title {
    cursor: grabbing;
}
.node > .__title {
    background: var(--node-title-bg);
    color: var(--node-title-text);
    font-size: 0.9rem;
    padding: 0.4em 0.75em;
    border-radius: 4px 4px 0 0;
    cursor: grab;
}
.node > .__title > span {
    pointer-events: none;
}
.node > .__content {
    padding: 0.75em;
}
.node > .__content > div > div {
    margin: 0.5em 0;
}
.node.--two-column > .__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: ". ." ". .";
}
.node.--two-column > .__content > .__inputs {
    grid-row: 1;
    grid-column: 1;
}
.node.--two-column > .__content > .__outputs {
    grid-row: 1;
    grid-column: 2;
}
.node.--two-column > .__content > .__options {
    grid-row: 2;
    grid-column: 1 / span 2;
}
.node-interface {
    padding: 0.25em 0;
    position: relative;
}
.node-interface .__port {
    position: absolute;
    width: 10px;
    height: 10px;
    background: var(--node-port);
    border-radius: 50%;
    top: calc(50% - 5px);
    cursor: crosshair;
}
.node-interface.--input {
    text-align: left;
    padding-left: 0.5em;
}
.node-interface.--input .__port {
    left: -1.1em;
}
.node-interface.--output {
    text-align: right;
    padding-right: 0.5em;
}
.node-interface.--output .__port {
    right: -1.1em;
}
.connection {
    stroke: var(--connection-stroke);
    stroke-width: 2px;
    fill: none;
}
.connection.--temporary {
    stroke-width: 4px;
    stroke-dasharray: 5 5;
    stroke-dashoffset: 0;
    animation: dash 1s linear infinite;
    transform: translateY(-1px);
}
@keyframes dash {
    to {
        stroke-dashoffset: 20;
    }
}
.connection.--allowed {
    stroke: green;
}
.connection.--forbidden {
    stroke: red;
}
.sidebar {
    position: absolute;
    height: 100%;
    width: 25%;
    min-width: 300px;
    max-width: 90%;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: #3f3f3f;
    color: #fff;
    box-shadow: none;
    overflow-x: hidden;
    padding: 1em;
    transform: translateX(100%);
    transition: transform 0.5s;
}
.sidebar.--open {
    transform: translateX(0);
    box-shadow: 0px 0px 15px black;
}
.sidebar .__resizer {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 4px;
    cursor: col-resize;
}
.sidebar .__close {
    font-size: 2em;
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
}
.minimap {
    background-color: var(--minimap-bg);
    position: absolute;
    height: 15%;
    width: 15%;
    min-width: 150px;
    max-width: 90%;
    top: 20px;
    right: 20px;
    z-index: 900;
}
.node-editor {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    outline: none !important;
    font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}
.node-editor .background {
    background-image: var(--editor-bg-image);
    background-color: var(--editor-bg);
    background-position: var(--editor-bg-pos) !important;
    background-size: var(--editor-bg-size) !important;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    pointer-events: none !important;
}
.node-editor *:not(input):not(textarea) {
    user-select: none;
    -moz-user-select: none;
}
.node-editor .input-user-select {
    user-select: auto;
    -moz-user-select: auto;
}
.node-editor *,
.node-editor *::after,
.node-editor *::before {
    box-sizing: border-box;
}
.node-editor.--temporary-connection {
    cursor: crosshair;
}
.ignore-mouse * {
    pointer-events: none !important;
}
.ignore-mouse .__port {
    pointer-events: all !important;
}
.connections-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none !important;
}
.node-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.node-container * {
    pointer-events: all;
}
.overlay {
    z-index: 100;
}
.node-editor .background {
    border-radius: 2px;
}